/* Desactivamos todos los controles */
.printMode .ol-overlaycontainer-stopevent {
    display: none !important;
}

.printMode {
    transition: none !important;
}

.printMode:before {
    content: '';
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background-color: #181818;
    opacity: 0;
}

.printMode .ol-viewport {
    opacity: 0 !important;
    transition: opacity 0.1s !important;
}

.ol-print-btn-menu {
    color: #fff;
    background: #d65959;
}

.ol-print-btn-menu svg {
    height: 1.3em;
    width: auto;
    fill: #ffffff;
}

.printElements {
    margin-top: 5px;
}

.printElements label {
    margin-right: 14px;
    cursor: pointer;
}

.printElements label input {
    margin-right: 4px;
}

.printFieldHalf {
    width: 50%;
    display: inline-block;
}

.printFieldHalf:nth-child(1) {
    padding-right: 20px;
    margin-right: -4px;
}

.modal-footer .typeExportContainer {
    display: inline-block;
    margin-left: 10px;
}

.modal-footer .typeExportContainer button {
    border-radius: 4px 0 0 4px;
}

.modal-footer select.typeExport {
    height: 31px;
    font-size: 0.675rem;
    line-height: 1.5;
    border-radius: 0 4px 4px 0;
    vertical-align: middle;
    border-left: 0;
    border-color: #b0b0b0;
    background: #e9e9e9;
    text-transform: uppercase;
}
