/* Desactivamos todos los controles */
.printMode .ol-overlaycontainer-stopevent {
    display: none !important;
}

.printMode {
    opacity: 0;
    transition: none !important;
}

.waterMark {
    display: none;
}

.printMode .waterMark {
    display: block;
}
.ol-print-btn-menu {
    color: #fff;
    background: #d65959;
    margin-left: 10px;
}

.ol-print-btn-menu svg {

}

.printControlInfo {
    position: absolute;
    left: 10px;
    bottom: 10px;
    max-width: 550px;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: rgb(0, 0, 0, 50%);
}
.printDescription {
    color: #c0c0c0;
}
.printWatermark {
    color: #fff;
    margin-bottom: 5px;
}

.printElements {
    margin-top: 5px;
}

.printElements label {
    margin-right: 14px;
    cursor: pointer;
}

.printElements label input{
    margin-right: 4px;
}